// Defaults
body {
    font-family: 'Eczar', serif;
    font-size: 16px;
    background: url('./images/dark_leather.png');
    background-size: contain;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}
#root {
    transform: translateY(4%);
}
.hide {
    display: none !important;
}