.lifecounter-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.lifecounter {
    position: relative;
    background: url('./images/paper_fibers.png');
    background-size: contain;
    padding: 20px;
    flex: 1;
	margin: 10px;
	text-align: center;
    font-size: 1.5em;
    @include noselect;
    opacity: .85;
    &.active {
        opacity: 1;
    }
    &__header {
        margin-bottom: 25px;
        border-bottom: 1px solid $gray;
        .name {
            font-weight: 500;
            font-size: 1.8rem;
        }
    }
    &__body {
        border: 1px solid $gray;
        border-top: 0;
        padding-bottom: 25px;
    }
    .actions-btns {
        display: flex;
        justify-content: space-between;
        i {
            background: $gray;
            color: $white;
            cursor: pointer;
            &.surrender {
                @include border-radii(0, 50%, 50%, 0);
                padding: 10px 12px 10px 8px;
            }
            &.skip {
                @include border-radii(50%, 0, 0, 50%);
                padding: 10px 6px 10px 13px;
            }
        }
    }
    .counter {
        &__add,
        &__remove {
            cursor: pointer;
        }
        &__display {
            vertical-align: middle;
            i {
                margin-right: 10px;
                &.reset {
                    margin-right: 0;
                    margin-left: 10px;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
            span {
                font-size: 5rem;
                vertical-align: middle;
            }
        }
    }

    div[class*='-dialog'] {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        opacity: 0;
        z-index: -9;
        @include transition(opacity 2s ease);
        &.active {
            opacity: 1;
            z-index: 3;
        }
        .img-container {
            width: 7rem;
            height: auto;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        h2 {
            vertical-align: middle;
            margin: 0;
        }
    }
    div.defeat-dialog {
        background: rgba(250, 0, 0, .9);
    }
    div.victory-dialog {
        background: rgba(0, 250, 0, .9);
    }
}